<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wassims Page</title>
</head>
<body>
    <h1>Welcome to Wassims page</h1>
    <h2>Java Developer</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus magnam, quibusdam obcaecati non ea enim iusto eos ex, consequatur culpa aspernatur veritatis qui distinctio similique doloremque voluptas, adipisci esse rerum.</p>
    <br>
    <button>Click me</button>
    <input type="text" name="empty" id="empty">
</body>
</html>